# Work & Output directories
work/
base_imgs/
output_imgs/
inspect_logs/
inspect_logs2/
*.zip
*.bin
*.tar.xz
*.img

# Temp files
__pycache__/
*.pyc
.ds_store

# Reference cloned repos
reference_repos/DumprX/
reference_repos/DumprX_repo/
