# Work & Extraction Directories
work/
base_imgs/
output_imgs/

# Inspection & Temporary Log Folders
inspect_logs*/
inspect_ota*/
work_logs_*/
reference_repos/
*.log

# Large Binaries & Packages
*.zip
*.bin
*.tar.xz
*.img
*.7z

# Python Cache & IDE Files
__pycache__/
*.pyc
.DS_Store
.idea/
.vscode/
